@mixin hook-base-body(){
}

@mixin hook-offcanvas-bar(){
  @media (max-width: $breakpoint-medium) {
    
  }
}

@mixin hook-base-heading(){
}

@mixin hook-progress(){
  border-radius: 2px;
  margin: 0;

  .uk-progress-small {
    height: 8px;
  }

  .uk-progress-lesson {
    background-color: #fff;
  }
}
// @mixin hook-progress-bar(){}
// @mixin hook-progress-misc(){}

@mixin hook-button-misc(){

  .uk-button {
    border-radius: 3px;
  }

  .uk-button-large {
    letter-spacing: 1px;
  }

  .uk-button-secondary-preserve {
    background: $global-secondary-background;

    &:hover {
      background: lighten($global-secondary-background, 10%);
    }
  }
}

@mixin hook-inverse-nav-parent-icon(){
  color: $global-background;
}
@mixin hook-inverse-nav-default-item(){
  color: $global-background;
}

@mixin hook-utility-misc(){

  @media (max-width: $breakpoint-medium) {

  }

  .uk-nav-course-list {
    font-size: 1rem;
    
  }

  .uk-text-lead {
    font-weight: 300;;
  }

  .uk-nav-default {
    .uk-open {
      > a {
        color: $global-background !important;
      }
    }

    .uk-parent {
      position: relative;

      > a {
        padding-right: 30px;

        &:after {
          margin-right: -30px;
        }

      }
      .uk-sidebar-parent-count {
        position: absolute;
        right: 22px;
        top: 5px;
      }  
    }

    .uk-nav-sub {
      a {
        .uk-icon {
          float: right;
        }
      }
    }

    .uk-completed {
      a {
        color: $global-success-background !important;
      }
    }

  }

  .uk-video-speed {
    label {
      width: auto !important;
      display: inline-block !important;
    }

    select {
      width: 60px !important;
      margin-left: 10px;
    }
  }

}