

@mixin hook-utility-misc(){

  @media (max-width: $breakpoint-medium) {

  }

  .uk-video-speed {
    label {
      width: auto !important;
      display: inline-block !important;
    }

    select {
      width: 60px !important;
      margin-left: 10px;
    }
  }

}