// Global variables
$global-background:                             #fff;
$global-primary-background:                     #529EEC;
$global-muted-background:                       #eef5fd;
$global-secondary-background:                   #0E2144;
$global-color:                                  #626f81;
$global-muted-color:                            #8694a8;
                            
// Base variables
$global-2xlarge-font-size:                      3rem;
$base-body-font-weight:                         300;
$base-heading-font-weight:                      400;
$base-heading-font-family:                        'Varela Round', sans-serif;;
$inverse-logo-color:                              $global-background;
$inverse-logo-hover-color:                        $global-background;

$button-text-transform:                           none;
$navbar-nav-item-text-transform:                  none;
$card-title-font-size:                            1.75rem;
$offcanvas-bar-width-m:                          380px;
$base-heading-color:                            #000;
$global-inverse-color:                          #fff;
$inverse-global-color:                          $global-inverse-color;

// Navigation variables
$navbar-background:                              $global-primary-background;
$inverse-navbar-nav-item-color:                 $global-background;
$inverse-navbar-nav-item-hover-color:           $global-secondary-background;
$inverse-navbar-nav-item-onclick-color:         $global-secondary-background;
$inverse-navbar-nav-item-active-color:          $global-secondary-background;
$inverse-navbar-item-color:                     $global-background;
$inverse-navbar-toggle-color:                   $global-background;
$inverse-navbar-toggle-hover-color:             $global-secondary-background;
