// // Global variables
// $global-background:                             #fff;
// $global-primary-background:                     #d63241;
// $global-muted-background:                       #F6F4F2;
// $global-secondary-background:                   #000;
// $global-color:                                  #000;
// $global-muted-color:                            #C5C3C2;
// $global-border:                                 $global-secondary-background;
// $global-font-family:                            'Montserrat', sans-serif;
// $global-link-color:                             $global-secondary-background;
// $global-link-hover-color:                       $global-primary-background;
// $inverse-base-link-hover-color:                 $global-primary-background;
// $global-small-font-size:                        0.875rem;
// $smaller-font-size:                             0.9375rem;
// $xsmall-font-size:                              0.75rem;
                            
// // Base variables
// $base-body-font-weight:                         400;
// $base-heading-font-weight:                      600;
// $heading-xlarge-font-size:                      4rem;
// $heading-xlarge-font-size-l:                    4.5rem;
// $heading-xlarge-font-size:                      3.5rem;
// $heading-xlarge-font-size-l:                    7.5rem;
// $heading-2xlarge-font-size:                     4.5rem;
// $heading-2xlarge-font-size-m:                   6.5rem;
// $heading-2xlarge-font-size-l:                   8rem;
// $serif-font-family:                             'Playfair Display', serif;
// $logo-font-size:                                1.5rem;
// $logo-font-family:                              $serif-font-family;
// $container-padding-horizontal:                  20px;
// $container-xsmall-max-width:                    700px;
// $container-small-max-width:                     960px;
// $base-heading-color:                            #000;
// $letter-spacing:                                3px;
// $letter-spacing-small:                          2px;
// $letter-spacing-xsmall:                         1px;
// $overlay-primary-background:                     rgba($global-secondary-background, 0.1);
// $global-inverse-color:                          #fff;
// $inverse-global-color:                          $global-inverse-color;

// // Accordion
// $accordion-title-color:                         $global-color;
// $accordion-title-hover-color:                   $global-color;
// $accordion-title-font-size:                     2rem;
// $accordion-content-margin-top:                  5px;
// $accordion-item-margin-top:                     0;
// $accordion-title-line-height:                   1.4;

// // Button variables
// $global-control-height:                         47px;
// $button-font-size:                              $xsmall-font-size;
// $button-default-color:                          $global-secondary-background;
// $button-default-hover-background:               $global-secondary-background;
// $button-default-hover-color:                    $global-background;
// $button-default-active-background:              $global-secondary-background;
// $button-default-active-color:                   $global-background;
// $button-default-border:                         $global-secondary-background;
// $button-default-hover-border:                   $global-secondary-background;
// $button-default-active-border:                  $global-secondary-background;

// $inverse-button-default-hover-background:       $global-background;
// $inverse-button-default-hover-color:            $global-secondary-background;
// $inverse-button-default-active-background:      $global-background;
// $inverse-button-default-active-color:           $global-secondary-background;
// $form-background:                               transparent;
// $form-focus-background:                         transparent;

// // Navigation variables
// $navbar-nav-item-height:                        100px;
// $navbar-nav-item-color:                         $global-secondary-background;
// $navbar-nav-item-hover-color:                   $global-primary-background;
// $navbar-nav-item-active-color:                  $global-primary-background;
// $navbar-nav-item-font-size:                     0.8125rem;
// $navbar-toggle-color:                           $global-secondary-background;
// $navbar-toggle-hover-color:                     $global-primary-background;
// $inverse-navbar-nav-item-color:                 #fff;
// $inverse-navbar-nav-item-hover-color:           $global-primary-background;
// $inverse-navbar-nav-item-onclick-color:         $global-primary-background;
// $inverse-navbar-nav-item-active-color:          $global-primary-background;
// $inverse-navbar-item-color:                     #fff;
// $inverse-navbar-toggle-color:                   #fff;
// $inverse-navbar-toggle-hover-color:             $global-primary-background;

// // Section variables
// $section-xlarge-padding-vertical:               120px;
// $section-xlarge-padding-vertical-m:             180px;
// $section-default-background:                    transparent;