<footer class="uk-section-xsmall">
  <div class="uk-container">
    <div class="uk-grid-small uk-child-width-1-2@m" data-uk-grid>
      <div>
        {% if site.footer.copyright %}
          <div class="uk-text-xsmall uk-text-muted uk-link-muted uk-text-center uk-text-left@m">{{ site.footer.copyright }}</div>
        {% endif %}
      </div>
      <div>
        <ul class="uk-subnav uk-text-small uk-flex-center uk-flex-right@m">
          {% for link in site.data.footer %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = '' | relative_url %}
            {% endif %}
            {% if link.url == page.url %}
              {% assign current = ' class="uk-active"' %}
            {% else %}
              {% assign current = null %}
            {% endif %}
            {% if link.title %}
              <li{{ current }}><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank" rel="noopener" {% endif %}>{{ link.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div> 
</footer>
