<script>
  {% for course in site.courses %}
    const {{course.slug}}Array = [
    {% for section in course.sections %}
      [
      {% for lesson in section.lessons %}
        {% assign lesson_post = site.lessons | where: 'url', lesson | first %}
        '{{lesson_post.lesson_id}}'{% unless forloop.last %},{% endunless %}
      {% endfor %}
      ]{% unless forloop.last %},{% endunless %}
    {% endfor %}
    ];  
  {% endfor %}

  var isInLocalStorageArray = function (array, lesson) {
    if (array.includes(lesson)) {
      return true;
    } else {
      return false;
    }
  };  
</script>