---
layout: default
---

<section class="uk-section uk-section-muted">
  <div class="uk-container">

    <ul class="uk-breadcrumb">
      <li><a href="{{ '/courses/' | relative_url }}">Courses</a></li>
      <li><span>{{ page.title }}</span></li>
    </ul>
  
    <div class="uk-padding uk-background-default uk-border-rounded uk-box-shadow-small">

      <div class="uk-child-width-1-2@s uk-margin" data-uk-grid>
        <div>
          <img src="{{ page.image | absolute_url }}" alt="{{page.title}}">
        </div>
        <div>
          <h3 class="uk-card-title">{{page.title}}</h3>
          {% assign total_lessons = 0 %}
          {% for section in page.sections %}
            {% if forloop.first == true %}
              {% assign first_section = true %}
            {% else %}
              {% assign first_section = false %}
            {% endif %}
            {% for lesson in section.lessons %}
              {% if forloop.first == true and first_section == true %}
                {% assign first_lesson = site.lessons | where:"url", lesson | first %}
              {% endif %}
              {% assign total_lessons = total_lessons | plus: 1 %}
            {% endfor %}
          {% endfor %}
          <p>Your next lesson is <span id="next-lesson-{{page.slug}}" class="uk-text-bold">{{first_lesson.title}}</span></p>
          <div class="uk-text-small"><span id="progress-count-{{page.slug}}">0</span> of {{total_lessons}} videos complete</div>
          <progress id="progress-bar-{{page.slug}}" class="uk-progress uk-width-1-1" value="0" max="{{total_lessons}}"></progress>
          <a id="course-button-{{page.slug}}" class="uk-button uk-button-secondary uk-margin-top" href="{{first_lesson.url}}">Start</a>
        </div>
      </div>

      <h2>{{page.title}}</h2>
      <div>{{content}}</div>

      <div class="uk-margin-large-top">
        <h2>Content</h2>
        {% for section in page.sections %}
          {% assign section_index = forloop.index %}
          <h3 id="id-{{section_index}}">{{ section.title }}</h3>
          <ul class="uk-nav uk-nav-default uk-nav-course-list">
          {% for lesson in section.lessons %}
            {% assign p = site.lessons | where:"url", lesson | first %}
            <li class="{% if lesson_url == page.url %}uk-active{% endif %}"><a href="{{ p.url | relative_url }}">{{ p.title }}</a></li>
          {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<script>
  var courseCompletedCount = function (course, Array) {

    var lessonString = localStorage.getItem(course);
    if (lessonString === null) {
      return;
    }
    var lessonArray = lessonString.split(',');
    
    var courseCompletedCount = 0;
    var resumeCourse = false;
    var resumeLessonId;

    Array.forEach(function (section, i) { 
      section.forEach(function (item, x) { 
        if (isInLocalStorageArray(lessonArray, item)) {
          courseCompletedCount++;
        } else {
          resumeLessonId = item;
          if (!resumeCourse && x > 0) {
            document.getElementById('course-button-' + course).innerHTML = 'Resume';
            document.getElementById('next-lesson-' + course).innerHTML = urls[item][0];
            document.getElementById('course-button-' + course).setAttribute('href', urls[item][1]);
            resumeCourse = true;
          }
        }
      });
    }); 

    console.log(courseCompletedCount);

    document.getElementById('progress-count-' + course).innerHTML = courseCompletedCount;
    document.getElementById('progress-bar-' + course).value = courseCompletedCount;

  };

  courseCompletedCount('{{page.slug}}', {{page.slug}}Array);
</script>