---
layout: default
---

<section class="uk-section-muted uk-section-large">
  <div class="uk-container">
    <h2>{{page.courses.title}}</h2>
    <div class="uk-child-width-1-2@s uk-child-width-1-3@m uk-margin-medium-top uk-grid-match" data-uk-grid>
      {% assign courses = site.courses | sort: 'weight' %}
      {% for course in courses %}
        <div>
          <div class="uk-course uk-card uk-card-default uk-position-relative uk-card-hover uk-border-rounded" data-course="{{course.slug}}">
            <div class="uk-card-media-top">
              <img src="{{ course.image | absolute_url }}" alt="">
            </div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">{{course.title}}</h3>
              <div>{{course.excerpt}}</div>
              <div class="uk-margin-top">
                <div class="uk-text-small"><span id="progress-count-{{course.slug}}">0</span> of 13 videos complete</div>
                <progress id="progress-bar-{{course.slug}}" class="uk-progress uk-width-1-1" value="0" max="100"></progress>
              </div>
              <div class="uk-child-width-1-2 uk-margin-top uk-flex uk-flex-middle" data-uk-grid>
                <div>Overview</div>
                <div class="uk-text-right uk-position-z-index">
                  <a class="uk-button uk-button-small uk-button-primary" href="#">Start</a>
                </div>
              </div>
            </div>
            <a class="uk-position-cover" href="{{course.url | relative_url}}" title="{{course.title}}"></a>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

<script>
  function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for (var i = 0; i < ca.length; i++) {
      var c = ca[i];
      while (c.charAt(0) == ' ') c = c.substring(1, c.length);
      if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
    }
    return null;
  }

  const courses = document.querySelectorAll('.uk-course');

  window.onload = function(){
    courses.forEach(el => {
      var course = el.getAttribute('data-course');
      var cookie = readCookie(course);
      if (cookie != null) {
        document.getElementById('progress-count-' + course).innerHTML = cookie;
        document.getElementById('progress-bar-' + course).value = cookie;

        var url = readCookie(course + '_url');
        if (url != null) {
          document.getElementById('header-cta').href="{{'/' | relative_url}}" + url;
        }
      }
    });
  };
</script>